<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
	  <!-- Compiled and minified CSS -->
  	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Compiled and minified CSS -->
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/home.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<header>
<div class="light-green accent-4">
	<nav>
		<div class="nav-wrapper brown darken-4">
			<a href="#" class="brand-logo">Name here</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="userlogin">User Login</a></li>
				<li><a href="merchantlogin">Merchant Login</a></li>
			</ul>
		</div>
	</nav>
</div>
</header>
<main>
<div class="container">
	<div class="row">
		<div class="col m12 l12 s12" id="title">
			<p>INSERT CATCHY TITLE</p>
		</div>
	</div>
	<div class="row">
		<div class="col m10 l10 s10 offset-m1 offset-l1 offset-s1" id="mainDescription">
			<p>
				Hey there! Thanks for stumbling upon. We are a group of people that provide various Campus Solutions to all types of colleges. Currently we extend our services to enable the Canteen aggregators to get their platform online and enable door to door delivery in the campus itself.
			</p>

			<p>
				Here are a few things which will help you to better understand us:
				<ul class="browser-default">
					<li>All our payments are processed via secure modes.</li>
					<br>
					<li>Each of our partner is given their specic page to showcase their dishes.</li>
					<br>
					<li>We have taken steps to ensure that the orders are legit</li>
					<br>
					<li>A very simple order placing experience is provided to your customer.</li>
				</ul>
			</p>

			<p>Be a partner by registering yourself and we'll take care of the rest</p>
		</div>
	</div>
</div>
</main>
<footer>
	<div class="row brown lighten-2">
		<div class="col s12 m6 l6 center-align" id="contact">
			Contact us:
		</div>
		<div class="col s12 m6 l6 left-align">
			<i class="small material-icons vertical-align">phone</i><span id="contactDetails"> +918860845898</span>
			<br>
			<i class="small material-icons vertical-align">email</i><span id="contactDetails"> something@something.com</span>
		</div>	
	</div>	
</footer>
	







	  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
          
</body>
</html>