<!DOCTYPE html>
<html>
<head>
	<title>Food Menu</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Compiled and minified CSS -->
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/orders.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="brown darken-4 white-text">
	<div class="container">
		<div class="row">
			<div class="col s12 m12 l12" id="orderModal">
				<h1 class="center-align">Pending Orders</h1>
				<div class="col s6 l6 m6">
					<h3 class="center-align">Amount</h3>
				</div>
				<div class="col s6 l6 m6">
					<h3 class="center-align">Dishes</h3>
				</div>
				<div class="row center-align" id="modalRow">
				</div>
			</div>
		</div>

	</div>













</body>
<script   src="https://code.jquery.com/jquery-2.2.4.js"   integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="   crossorigin="anonymous"></script>
<script type="text/javascript" src="../static/js/orders.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
</body>
</html>